body{
     background-color: rgb(126, 87, 163);
    color: white;    
}
/* add media queries at the bottom of the page */
/* color text to make it easy to read and also appealing to the eye */
/* use flex correctly */
/* have aa theme */
/* use classes and Id's to section off the page and make it clean */

.navlist{ 
    display: flex;
    justify-content: flex-end;
/* flex-direction: row; */
/* float: right; */
justify-content: right;
border: 10px;
padding: 5px;
margin: 15px;
background-color: rgb(13, 48, 202);
border-radius: 25px;
font-size: 35px;
text-decoration: underline;
}
aside{  
    float:right;
    position: relative;
    /* link to picture of avatar here */
    /* figure out spacing wanted this on the left but could not figure out */
}
section{    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 30px;
    padding:15px;
    border:20px;
    border-style:solid;
    border-radius: 45px;
    border-color: black;
}
main{
        
}
article{    

}
h1{ 

}
h2{
    
}
h3{

}
p{  

}

.footerlist{    
text-decoration: underline;
}