body{
     background-color: #226666;
    color: white;
    font-family: 'Alike Angular', serif;
    
}

/* .navlist{ 
display: flex;
 justify-content: flex-end;   
justify-content: space-evenly;
border: 10px;
padding: 5px;
margin: 15px;
background-color: rgb(0, 0, 0);
border-radius: 25px;
font-size: 35px;
list-style-type: none; */

/* aside{  
    display: flex;
    flex-direction: column;
    float:right;
    position: relative;
    background-color: #ABABAB;
    height: 830px;
    width: 380px;
    border-radius: 100px;
    margin: 10px;
    border: #000000;
    border-style: groove;
    border-width: 20px;
} */

section{    
    display: flex;
    margin: 20px;
    padding:10px;
    border:15px;
    border-style:solid;
    border-radius: 45px;
    border-color: #ABABAB;
    background-color:#4D5C87 ;
    flex-wrap: wrap;
    justify-content: space-around;
}
main{
    display: flex;
    font-size: medium;
    border: 15px;
    margin: 20px;
    padding: 10px;
    border-color: #ABABAB;
    border-style: solid;
    border-radius: 25px;
    background-color: #4D5C87;
    justify-content: center;
}
.card{    
border: 5px;
border-style:solid ;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
border-radius: 35px;
}
.cardheader{
    display: flex;
    align-items: flex-start;
    align-content: center;
    position: relative;
    right: -20px;

}
.card-img-top{
    
}
/* .cardimg{   
    display: flex;
    justify-content: space-between;
    width: 300px;
    height:250px;
    background-color: #000000;
    border-radius: 35px;
    border-style: solid;
  
    /* transform: rotateY(15);
    transform: rotateZ(5deg); */
/* } */ */
    /* /*  */

#Contact-me{
        display: flex;
        flex-direction: column;
        align-items: center;

}

.avatarimg{
    width: 175px;
    position: relative;
    left: 88px;
    top: 27px;
    border-radius: 153px;
    border-style: solid;
    background-color: #000000;
    border: 35px;

}
h1{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}
h2{
    display: flex;
    align-items: center;
   flex-direction: column;
    
}

p{  
    display: flex;
    flex-wrap: wrap;
    background-color: #000000;
    color:white;
    border-radius: 35px;
    font-size: 17px;
    /* width: 1070px; */
    height: 110px;
    align-content: center;
    padding: 10px;

}

footer{
    display: flex;
    align-content: center;
}
.footerlist{    
text-decoration: underline;
display: flex;
justify-content: space-around;
flex-direction: row;
margin: 10px;
list-style-type: none;
width: 98%;
}
.container {
    border-radius: 35px;
    /* background-color: #ABABAB;
    padding: 20px;
    width: 15%; */
  }
input[type=submit]:hover {
    background-color: #7e57a3;
}
input[type=submit] {
    background-color: #ABABAB;
    color: #000000;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  ul{    
      display: flex;
      align-content: center;
        border-style: solid;
        /* background-color: #000000; */
        border-radius: 35px;
        padding: 10px;
        margin: 15px;
        border: 30px;
  }
  .hero{
    background-image: url(./images/picofmeatseniorshowcase.jpg) no-repeat center center/cover;
    height: 80vh;
    position: relative;
    color: #3D3530
  }
  
  .hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100% ;
    padding: 0 20px;
  
  }
  .hero .content h1{
    font-size: 56px;
  }
  .hero .content p {
    font-size: 56px;
    max-width: 600px;
    margin: 20px 0 30px;
  }

@media screen and (min-width: 430px){
    aside { 
        width: 20%;
    }
}

@media screen and (max-width:430px) {
    header {
            width: 95%;
    }
}
@media screen and (max-width: 430px) {
    nav{
            width: 110%;
    }    
}
@media screen and (max-width:430px) {
    .cardimg{
        width: 90%;

    }    
}
